.pagination {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    margin: 0 10px;
}

.alignment {
    justify-content: right !important;
    align-items: right !important;
}
