<div class="pagetitle">
  <h1>Customer</h1>
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a routerLink="/index">Home</a>
      </li>
      <li class="breadcrumb-item active">{{ message }}</li>
    </ol>
  </nav>
</div>
<section class="section">
  <div class="row">
    <div class="col-lg-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{ message }}</h5>
          <div class="row">
            <div>
              <form (ngSubmit)="onSubmit()">
                <div class="row m-3">
                  <div>
                    <label class="m-2 ms-lg-0">Type</label>
                    <div class="form-group border btn">
                      <label class="control-label me-2">Individual</label>
                      <input
                        type="radio"
                        name="type"
                        class="me-3"
                        value="Individual"
                        (click)="getAccountType('Individual')"
                        [checked]="Individual"
                      />
                      <label class="control-label me-2">Business</label>
                      <input
                        type="radio"
                        name="type"
                        (click)="getAccountType('Commercial')"
                        value="Commercial"
                        [checked]="Commercial"
                      />
                    </div>
                  </div>
                </div>

                <div class="row m-3">
                  <div class="col-12" *ngIf="Individual">
                    <div class="form-group">
                      <label class="control-label">PAN</label>
                      <input
                        [(ngModel)]="customer!.pan"
                        name="pan"
                        class="form-control"
                      />
                      <input
                        [(ngModel)]="customer!.cId"
                        name="cId"
                        type="hidden"
                      />
                    </div>
                  </div>

                  <div class="col-12" *ngIf="Commercial">
                    <div class="form-group">
                      <label class="control-label">GST</label>
                      <input
                        [(ngModel)]="customer!.gst"
                        name="gst"
                        class="form-control"
                      />
                    </div>
                  </div>
                </div>

                <div class="row m-3">
                  <div class="col-6">
                    <div class="form-group">
                      <label class="control-label" for="title">Title</label>
                      <select
                        id="title"
                        [(ngModel)]="customer!.title"
                        name="title"
                        class="form-control"
                      >
                        <option
                          *ngFor="let option of titleOptions"
                          [value]="option.value"
                        >
                          {{ option.text }}
                        </option>
                      </select>
                    </div>
                  </div>

                  <div class="col-6">
                    <div class="form-group">
                      <label class="control-label">First Name</label>
                      <input
                        name="firstName "
                        [(ngModel)]="customer.firstName"
                        class="form-control"
                      />
                    </div>
                  </div>
                </div>
                <div class="row m-3">
                  <div class="col-6">
                    <div class="form-group">
                      <label class="control-label">Middle Name</label>
                      <input
                        name="middleName "
                        [(ngModel)]="customer.middleName"
                        placeholder="optional"
                        class="form-control"
                      />
                    </div>
                  </div>

                  <div class="col-6">
                    <div class="form-group">
                      <label class="control-label">Last Name</label>
                      <input
                        name="lastName "
                        [(ngModel)]="customer.lastName"
                        class="form-control"
                      />
                    </div>
                  </div>
                </div>
                <div class="row m-3">
                  <div class="col-6">
                    <div class="form-group">
                      <label class="control-label">Position</label>
                      <input
                        name="position "
                        [(ngModel)]="customer.position"
                        class="form-control"
                      />
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="form-group">
                      <label class="control-label" for="gender">Gender</label>
                      <select
                        id="gender"
                        [(ngModel)]="customer!.gender"
                        name="gender"
                        class="form-control"
                      >
                        <option
                          *ngFor="let option of genderOptions"
                          [value]="option.value"
                        >
                          {{ option.text }}
                        </option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="row m-3">
                  <div class="col-6">
                    <div class="form-group">
                      <label class="control-label" for="language">Gender</label>
                      <select
                        id="language"
                        [(ngModel)]="customer!.language"
                        name="language"
                        class="form-control"
                      >
                        <option
                          *ngFor="let option of languageOptions"
                          [value]="option.value"
                        >
                          {{ option.text }}
                        </option>
                      </select>
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="form-group">
                      <label class="control-label">Day Of Birth</label>
                      <input
                        type="date"
                        name="dayOfBirth"
                        [(ngModel)]="customer.dayOfBirth"
                        class="form-control"
                      />
                    </div>
                  </div>
                </div>
                <div class="row m-3">
                  <div class="col-6">
                    <div class="form-group">
                      <label class="control-label">Phone</label>
                      <input
                        name="phone "
                        [(ngModel)]="customer.phone"
                        type="number"
                        class="form-control"
                      />
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="form-group">
                      <label class="control-label"> Other Phone No.</label>
                      <input
                        name="phoneOther "
                        [(ngModel)]="customer.phoneOther"
                        type="number"
                        class="form-control"
                      />
                    </div>
                  </div>
                </div>
                <div class="row m-3">
                  <div class="col-6">
                    <div class="form-group">
                      <label class="control-label">Cell</label>
                      <input
                        name="cell "
                        [(ngModel)]="customer.cell"
                        type="number"
                        class="form-control"
                      />
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="form-group">
                      <label class="control-label">Fax</label>
                      <input
                        name="fax "
                        [(ngModel)]="customer.fax"
                        type="number"
                        class="form-control"
                      />
                    </div>
                  </div>
                </div>
                <div class="row m-3">
                  <div class="col-6">
                    <div class="form-group">
                      <label class="control-label">Email</label>
                      <input
                        name="email "
                        [(ngModel)]="customer.email"
                        class="form-control"
                      />
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="form-group">
                      <label class="control-label">Second Email</label>
                      <input
                        name="email2 "
                        [(ngModel)]="customer.email2"
                        class="form-control"
                      />
                    </div>
                  </div>
                  <div
                    asp-validation-summary="ModelOnly"
                    class="text-danger"
                  ></div>
                </div>
                <div class="row m-3">
                  <div class="col-6">
                    <div class="form-group">
                      <label class="control-label">Website</label>
                      <input
                        name="website "
                        [(ngModel)]="customer.website"
                        class="form-control"
                      />
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="form-group">
                      <label class="control-label">Photo</label>
                      <input
                        type="file"
                        [(ngModel)]="customer.photo"
                        (change)="onFileChange($event)"
                        class="form-control"
                      />
                    </div>
                  </div>
                </div>
                <div class="row m-3">
                  <div class="col-12">
                    <div class="form-group">
                      <label class="control-label">Comments</label>
                      <textarea
                        name="comments "
                        value="{{ customer.comments }}"
                        class="form-control"
                      ></textarea>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <input
                    type="submit"
                    value="Save"
                    class="btn btn-primary"
                    style="width: 100px; margin-left: 5%"
                  />
                  <a
                    routerLink="/customer-list"
                    class="btn btn-danger"
                    style="width: 100px; margin-left: 2%"
                    >Cancel</a
                  >
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
