<div class="container">
  <section
    class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4"
  >
    <div class="container">
      <div class="row justify-content-center">
        <div
          class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center"
        >
          <div class="d-flex justify-content-center py-4">
            <a class="logo d-flex align-items-center w-auto">
              <img src="assets/img/logo.png" alt="" />
              <span class="d-none d-lg-block"> ZippyCRM</span>
            </a>
          </div>
          <!-- End Logo -->
          <div class="card mb-3">
            <div class="card-body">
              <div class="pt-4 pb-2">
                <h5 class="card-title text-center pb-0 fs-4">
                  Forgot Password
                </h5>
                <p class="text-center small">
                  Enter your username to forgot password
                </p>
              </div>
              <form
                class="row g-3 needs-validation"
                asp-action="ForgotPassword"
                method="post"
              >
                <div
                  asp-validation-summary="ModelOnly"
                  class="text-danger"
                ></div>
                <span>Html.Raw(TempData["Email"])</span>
                <div class="row g-3">
                  <div class="col-12">
                    <label asp-for="Email" class="form-label"></label>
                    <div class="input-group has-validation">
                      <input
                        type="email"
                        asp-for="Email"
                        class="form-control"
                      />
                    </div>
                    <span asp-validation-for="Email" class="text-danger"></span>
                  </div>
                </div>

                <div class="row g-3">
                  <div class="col-6">
                    <button class="btn btn-danger w-100" type="button">
                      <a
                        routerLink="/login"
                        class="text-white"
                        >Cancel</a
                      >
                    </button>
                  </div>
                  <div class="col-6">
                    <button class="btn btn-primary w-100" type="submit">
                      Forgot Password
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <div class="credits">
            Designed by
            <a href="https://www.ysoftsolution.com/">YSoft Solution</a>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
